/**************************/
/* Task - Assignment 1
/* Batch - 10
/* Student Name : Rusho Mrong
/* Email - rushomarak@gmail.com
/* Student ID - N/A
/* Date of Assignment: 09 July 2024
/*************************/

/* font imported link */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


/* Navigation style */
nav {
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 150px 47px 150px; */
    margin: 0;
    box-sizing: border-box;
}

.top-menu {
    width: 1440px;
    height: 70px;
    margin: 0 150px 47px 150px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    
}

.nav-title {
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    color: #0D1321;
}

.download-btn {
    box-sizing: border-box;
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600;
    color: #0D1321;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    width: 228px;
    height: 58px;
    background-color: #fff;
    padding: 17px 24px 17px 24px;
    margin-top: 30px;
    cursor: pointer;
}


.header-container {
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    margin-bottom: 74px;

}

/* banner container style */
.banner-container {
    width: 1440px;
    height: 652px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}



.banner-content .banner-title {
    margin-top: 32px;
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

.banner-content  .banner-desc {
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #0D1321;
    opacity: 0.7;
}

.contact-me {
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    margin-top: 32px;
}

.contact-me a {
    text-decoration: none;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
}

/* web development style */
.development {
    width: 1140px;
    height: 1395px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px 140px 97px;
    margin: 0 auto;
    text-align: center;
}

.development .web-development {
    width: 852px;
    height: 39px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.development .dev-title {
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
    margin-bottom: 24px;

}

.development .dev-desc {
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
}

/* do coding style */
.do-coding {
    width: 946px;
    height: 300px;
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 48px;
}

.do-coding .coding-content {
    width: 477px;
    /* max-width: 850px; */
    height: 240px;
}

.coding-content .coding-title {
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    color: #0D1321B3;
}

.coding-content .coding-desc {
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
}

.learn-more {
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 500;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-top: 32px;
    color: #0D1321;
    background-color: #fff;
}

.learn-more a {
    text-decoration: none;
    color: #0D1321;
}

.coding-right-image, .help-left-image img {
    width: 230px;
    height: 217px;
}

/* web system style */

.web-system {
    width: 946px;
    height: 300px;
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: flex-start;
    text-align: left;
    margin-top: 32px;
}



.web-system .help-people {
    width: 477px;
    /* max-width: 850px; */
    height: 240px;
    margin-left: 32px;
}

.help-people .help-title {
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    color: #0D1321B3;
}

.help-people .help-desc {
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
    opacity: 0.7;
}


/* inspiration section style */
.insperation {
    width: 1140px;
    height: 775px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 88px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 151px;
}

.insperation .inspi-title {
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
}

.insperation .inspi-desc {
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
    opacity: 0.7;
    margin-bottom: 48px;

}

.youtube-video {
    width: 1140px;
    height: 614px;
    padding: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

.youtube-video .jhanker {
    border-radius: 16px;
}

/* current target style */
.current-target {
    width: 1140px;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 180px;
}

.current-target .target-title {
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
    margin-bottom: 24px;
}

.current-target .target-desc {
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
    margin-bottom: 48px;
    text-align: center;
}

/* skills style section */


.skills-container {
    display: flex;
    flex-direction: row;
}
.skills {
    width: 1140px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 24px;

}

.skills .html {
    width: 364px;
    height: 299px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}


.html, .css, .js img {
    width: 56px;
    height: 56px;
} 

.html .skill-title {
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    color: #0D1321;
    margin-top: 24px;
}

.html .skill-desc {
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
    opacity: 0.7;
    margin-top: 8px;
}

.css .skill-title {
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    color: #0D1321;
    margin-top: 24px;
}

.css .skill-desc {
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
    opacity: 0.7;
    margin-top: 8px;
}


.js .skill-title {
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    color: #0D1321;
    margin-top: 24px;
}

.js .skill-desc {
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
    opacity: 0.7;
    margin-top: 8px;
}

.html .skill-btn {
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    margin: 24px 0px;
    color: #0D1321;
}

.css .skill-btn {
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    margin: 24px 0px;
    color: #0D1321;
}

.js .skill-btn {
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    margin: 24px 0px;
    color: #0D1321;
}


.html .skill-btn a {
    color: #0D1321;
}

.css .skill-btn a {
    color: #0D1321;
}

.js .skill-btn a {
    color: #0D1321;
}


.skills .css {
    width: 364px;
    height: 299px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    margin: 0px 24px;
}

.skills .js {
    width: 364px;
    height: 299px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

/* support section style */
.support {
    width: 1140px;
    height: 313px;
    background-image: url("../assets/handshake.jpg");
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 48px 64px 48px;
    border-radius: 16px;
    margin: 0 auto;
    margin-top: 170px;
    text-align: center;
    margin-bottom: 100px;
}

.support .support-content {
    width: 1044px;
    height: 185px;  
    display: flex;  
    flex-direction: column;
    text-align: center;
}

.support-content .support-title {
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
}

.support-content .support-desc {
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 0.7;

} 

.feedback input[type="email"]{
    width: 548px;
    height: 57px;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    padding: 19px 20px 19px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}


.feedback input[type="button"] {
    width: 120px;
    height: 57px;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    padding: 14px 20px 17px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    margin-top: 2px;
    cursor: pointer;
    border: none;
}

/* footer style */

footer {
    /* width: 1440px; */
    /* height: 100px; */
    padding: 32px 150px 32px 150px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    margin: 0 auto;
}


.footer-container {
    width: 1140px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 32px auto;
}

.footer-container .footer-left {
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
    letter-spacing: 0%;
}

.footer-icon {
    width: 36px;
    height: 36px;
    gap: 30px;
    display: flex;
}

